azure-ai-evaluation[redteam]==1.8.0;
ipykernel==6.29.5;
python-dotenv==1.1.0;
azure-ai-projects==1.0.0b11;
azure-identity==1.23.0;
openai==1.84.0;
marshmallow==3.23.2;
pyrit==0.8.1;
dotenv==0.9.9;
semantic-kernel;
requests;
